/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; padding: 3em; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #444; color: #fff; text-shadow: none; }
::selection { background: #444; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }





/* -- Custom Control Styles - Menu Selector -- */
.menu-selector { width: 100%; margin: 0 0 10px 0; }
.menu-selector .menu-item { position: relative; height: 1.5em; padding: 2px 0; }
.menu-selector .menu-item-contents { padding: 0 0 0 25px; }
.menu-selector .menu-item .menu-item-expander { float: left; width: 20px; height: 1.5em; margin: 0 2px 0 0; cursor: default; background: transparent url(../img/menuexpand.gif) no-repeat 0 center; }
.menu-selector .menu-item .menu-item-expander.expanded { cursor: pointer; background: transparent url(../img/menuexpand.gif) no-repeat -40px center; }
.menu-selector .menu-item .menu-item-expander.collapsed { cursor: pointer; background: transparent url(../img/menuexpand.gif) no-repeat -20px center; }
.menu-selector .menu-item .menu-item-expander span { display: none; }
.menu-selector .menu-item .menu-item-selection { float: left; width: 20px; height: 1.5em; margin: 0 5px 0 0; cursor: pointer; background: transparent url(../img/menudepth.gif) no-repeat 0 center; }
.menu-selector .menu-item .menu-item-selection.partial { background: transparent url(../img/menudepth.gif) no-repeat -40px center; }
.menu-selector .menu-item .menu-item-selection.full { background: transparent url(../img/menudepth.gif) no-repeat -20px center; }
.menu-selector .menu-item .menu-item-selection span { display: none; }
.menu-selector .menu-item .menu-item-text { float: left; width: auto; height: 1.5em; cursor: default; }
.menu-selector .menu-item .menu-item-text span { height: 1.5em; line-height: 1.5em; vertical-align: middle; }
.menu-selector .menu-item .menu-item-input { position: absolute; top: 0; left: -9999px; }








/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


